* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #060606;
    padding: 10px;
}

#content {
    display: flex;
    align-items: center;
}

#mouse {
    margin-left: 50px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.key, .control {
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 3px;
    text-transform: capitalize;
    cursor: pointer;
}
.key {
    border-color: gray;
    height: 50px;
    width: 50px;
    font-size: 10px;
    text-align: center;
    padding: 1px;
}
#top-row .key {
    height: 24px;
    width: 46px;
}
.control {
    height: 40px;
    width: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button {
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 5px;
}

/* Specific keys */
#backspace, #tab {
    width: 60px;
}
#caps {
    width: 82px;
}
#enter {
    width: 84px;
}
#left-shift, #right-shift {
    width: 111px;
}
#space {
    width: 284px;
}
#up-arrow {
    height: 24px;
}
#down-arrow {
    height: 23px;
}

/* Specific colors */
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: lightgreen;
}
#blue {
    background-color: aqua;
}
#pink {
    background-color: fuchsia;
}
#white {
    background-color: white;
}
